:root {
  --background: #3B3838;
  --element-fill: #7F7F7F;
  --primary-text: white;
  --secondary-text: #BFBFBF;
  --red: #E66C68;
  --orange: #F4B183;
  --yellow: #FFD966;
  --green: #A9D18E;
  --blue: rgb(79, 120, 195);
  --purple: #E1A0D4;
  --element-fill-fill: hsl(0, 0%, 50%, 0.3);
  --red-fill: hsla(2, 72%, 65%, 0.3);
  --orange-fill: hsl(24, 84%, 74%, 0.3);
  --yellow-fill: hsla(45, 100%, 70%, 0.3);
  --green-fill: hsl(96, 42%, 69%, 0.3);
  --blue-fill: rgb(79, 120, 195, 0.3);
  --purple-fill: hsl(312, 52%, 75%, 0.3);

}

[data-theme='light'] {
  --background: #3B3838;
  --element-fill: #7F7F7F;
  --primary-text: white;
  --secondary-text: #BFBFBF;
  --red: #E66C68;
  --orange: #F4B183;
  --yellow: #FFD966;
  --green: #A9D18E;
  --blue: rgb(79, 120, 195);
  --purple: #E1A0D4;
  --element-fill-fill: hsl(0, 0%, 50%, 0.3);
  --red-fill: hsla(2, 72%, 65%, 0.3);
  --orange-fill: hsl(24, 84%, 74%, 0.3);
  --yellow-fill: hsla(45, 100%, 70%, 0.3);
  --green-fill: hsl(96, 42%, 69%, 0.3);
  --blue-fill: rgb(79, 120, 195, 0.3);
  --purple-fill: hsl(312, 52%, 75%, 0.3);
}

.App{ 
  width: 100vw;
  min-height: 100dvh;
  min-height: 100dvh;
  max-width: 1500px;
  background-color: var(--background);
  font-family: Calibri, sans-serif;

}