.Task {
    transition: 300ms;
    /* outline: 1px solid pink; */
    padding: 1rem;
    width: 700px;
    max-width: 90%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.Important {
    /* outline: 1px dashed pink; */
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        cursor: pointer;
    }
}

.Task-Info-Wrapper {
    /* outline: 1px dashed pink; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

}

.Task-Name {
    font-weight: bold;
    font-size: clamp(16px, 1.3rem, 1.3rem);
    color: var(--primary-text);
    background: none;
    border: none;
    outline: none;

}

.Task-Due-Date {
    font-size: clamp(16px, 1rem, 1.2rem);
    color: var(--secondary-text);
    background: none;
    border: none;
    outline: none
}

.Task-Description {
    font-size: clamp(16px, 1rem, 1.2rem);
    color: var(--secondary-text);
    background: none;
    border: none;
    outline: none
}

.Completed {
    /* outline: 1px dashed pink; */
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
}


.EditBtnContainer {
    display: flex;
    gap: 5px;


    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        opacity: 0.5;
        transition: 300ms;
    }

    button:hover {
        transform: scale(1.3);
        opacity: 1;
    }

    #SaveSVG {
        animation: scaleUp 0.3s ease-out;
        fill: var(--green);
    }

    #CancelSVG {
        animation: scaleUp 0.5s ease-out;
        fill: var(--red);
    }
}


/* ANIMATIONS */

@keyframes scaleUp {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}