.LoginSignup {
    background-color: var(--background);
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    gap: 5vh;

    .Logo{ 
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .Title {
        /* outline: 1px solid pink; */
        font-size: 2rem;
        user-select: none;
    }

    .Toggle {
        border-radius: 10px;
        display: flex;


        Button {
            color: var(--primary-text);
            border: none;
            background-color: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            min-width: 0;
            padding: 1rem;
            font-size: 1rem;
            white-space: nowrap;
            cursor: pointer;
            transition: 300ms;
            user-select: none;
        }

        #Left {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 1px solid var(--element-fill);


        }

        #Right {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px solid var(--element-fill);
        }

    }

    form {
        width: 400px;
        max-width: 90vw;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1vh;



        input {
            padding: 0.8rem;
            border-radius: 10px;
            transition: 300ms;
            border: none;
            background-color: var(--element-fill);
            font-size: clamp(16px, 1rem, 1.2rem);
            /* Ensures at least 16px */
            color: var(--primary-text);
            opacity: 0.5;
        }

        input:hover {
            opacity: 1;
        }

        input:focus {
            outline: 2px solid rgb(79, 120, 195);
            opacity: 1;
        }

        input:valid{ 
            opacity: 1;
            background-color: rgb(79, 120, 195);
            outline: 2px rgb(79, 120, 195);
        }

        .Hidden {
            opacity: 0;
            height: 0px;
            padding: 0px;
        }



        button {
            padding: 0.8rem;
            border-radius: 10px;
            transition: 300ms;
            border: none;
            background-color: var(--element-fill);
            background-color: rgb(79, 120, 195);
            transition: 300ms;
            color: var(--primary-text);
            font-size: 1rem;
            cursor: pointer;
            opacity: 0.5;
        }
        button:hover{ 
            opacity: 1;
        }
    }
}

.Demo-Button{ 
    padding: 0.8rem;
    border-radius: 10px;
    transition: 300ms;
    border: none;
    background-color: var(--element-fill);
    background-color: rgb(79, 120, 195);
    transition: 300ms;
    color: var(--primary-text);
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.5;
    animation: attract 2s infinite;
}
.Demo-Button:hover{ 
    opacity: 1;
    animation: none;
}

/* Animation */

@keyframes attract {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}